
.bg-navbar {

    background-color: #000428;
    background: linear-gradient(10deg,#1D22DC,#5C7DF3,#C55042);
}

.bg-sidenav {
  background-color: #000428;
  background: linear-gradient(10deg,#5C7DF3,#1D22DC);
}

.bg-containerComponents{

  background: #dedede1c;
}


